<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Subject</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.subject)" formControlName="subject" placeholder="Add your subject">
          <div *ngIf="f.subject.errors?.required" class="invalid-feedback">
            Subject is required.
          </div>
          <div *ngIf="f.subject.errors?.maxlength" class="invalid-feedback">
            Subject can only have a maximum of 50 characters..
          </div>
          <div *ngIf="f.subject.errors?.minlength" class="invalid-feedback">
            Subject must have at least 4 characters.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>City</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.local)" formControlName="local" placeholder="City">
          <div class="invalid-feedback">
            City is required.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Date and time</label>
          <input type="datetime" class="form-control"
            [ngClass]="cssValidator(f.eventDate)"
            value="{{event.eventDate | DateTimeFormatPipe}}"
            formControlName="eventDate"
            bsDatepicker
            [bsConfig]="bsConfig">
          <div class="invalid-feedback">
            Date and time are required.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Quantity of participants</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.qtyGuests)" formControlName="qtyGuests" placeholder="">
          <div *ngIf="f.qtyGuests.errors?.required" class="invalid-feedback">
            Quantity of participants is required.
          </div>
          <div *ngIf="f.qtyGuests.errors?.max" class="invalid-feedback">
            Number of participants limited to 1000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Phone</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.phone)" formControlName="phone" placeholder="(000)000-0000">
          <div class="invalid-feedback">
            Phone is required.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.email)" formControlName="email" placeholder="e-mail">
          <div class="invalid-feedback">
            A valid email is required.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Image</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.imageURL)" formControlName="imageURL" placeholder="image">
          <div class="invalid-feedback">
            Image is required.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancel
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="saveEvent()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Save
        </button>
      </div>
    </div>
  </form>
</div>
