<app-titleShared
[title]="'Profile'"
[iconClass]="'fa-solid fa-user fa-2xl'">
</app-titleShared>
<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@afsvieira</div>
            <div class="h7 text-bold pb-1"><b>Name:</b> Felipe Vieira</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Events Given</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Events Participated</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Profile</h3>
          </div>
          <div class="form-group col">
            <label>Title</label>
            <select class="form-control">
              <option value=""></option>
              <option value="0">No title.</option>
              <option value="technologist">Technologist</option>
              <option value="bachelor">Bachelor</option>
              <option value="specialist">Specialist</option>
              <option value="postgraduate">Post-graduated</option>
              <option value="master">Master</option>
              <option value="doctor">Doctor</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <label>First name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': f.firstName.errors && f.firstName.touched}" formControlName="firstName"/>
            <div class="invalid-feedback">
              First name is required.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Last name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': f.lastName.errors && f.lastName.touched}" formControlName="lastName"/>
            <div class="invalid-feedback">
              Last name is required.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" formControlName="email"/>
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">
              Email is required.
            </div>
            <div *ngIf="f.email.errors?.email" class="invalid-feedback">
              Insert a valid email.
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Phone</label>
            <input type="text" class="form-control"/>

          </div>
          <div class="form-group col-sm">
            <label>Status</label>
            <select class="form-control" [ngClass]="{'is-invalid': f.status.errors && f.status.touched}" formControlName="status">
              <option value=""></option>
              <option value="participant">Participant</option>
              <option value="speaker">Speaker</option>
            </select>
            <div class="invalid-feedback">
              Select a status.
            </div>
          </div>
          <form-group class="col-12">
            <label>Description</label>
            <input type="text" class="form-control" />
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Change password</h3>
          <p>If you want to change your password, fill in the fields below:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>New password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group col-sm">
            <label>Confirm new password</label>
            <input type="password" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button (click)="resetForm($event)" class="btn btn-outline-secondary mr-auto border">
          Cancel
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Save
        </button>
      </div>
    </div>
  </form>
</div>
